.item {
}

.item:last-of-type {
}

.users {
    max-width: 400px;
    width: 100%;
    border-spacing: 0;
    tbody {
        tr {
            td {
                border-bottom: 2px solid #c3c3c3;
            }
        }
    }
}

.buttonsContainer {
}

.container {
}

.thead {

    background-color: #c3c3c3;
}

.nameCol {
}

.ageCol {
}