.button {
    width: 200px;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.disabled {
    background-color: #3767a1;
    opacity: 0.5;
    color: #fff;
}

.secondary {
    background-color: transparent;
    border: 2px solid #0059b3;
    color: #0059b3;
}

.default {
    background-color: #0059b3;
    color: #fff;
}

.red {
    background-color: #cc0000;
    color: #FFFFFF;
}

.default:hover {

    background-color: #0073ea;
    color: #fff;
}

.red:hover {

    background-color: #f80000;
    color: #FFFFFF;
}

.secondary:hover {

    background-color: #7dbeff;
    border: 2px solid #0070e3;
    color: #0070e3;
}


.default:active {
    background-color: #0059b3;
    color: #fff;
}

.secondary:active {
    background-color: transparent;
    border: 2px solid #003a78;
    color: #003a78;
}

.red:active {
    background-color: #850000;
    color: #FFFFFF;
}

.button:disabled {
    background-color: #3767a1;
    opacity: 0.5;
    color: #fff;
}
